body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/110/548/original/library.jpg?1705259240");
  background-size: cover;
  height: 100%;
  width: 100%;
  animation: slidein 100s;

  animation-fill-mode: forwards;

  animation-iteration-count: infinite;

  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 1600px;
  }
  to {
    background-position: -100px 0px;
    background-size: 1350px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 1600px;
  }
  to {
    background-position: -100px 0px;
    background-size: 1350px;
  }
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
}

.App-header {
  font-family: "Calligraffitti", cursive;
  font-family: "Delicious Handrawn", cursive;
  text-align: center;
  font-size: 120px;
  color: #800020;
  margin: 30px 0;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  font-family: "Calligraffitti", cursive;
  font-family: "Delicious Handrawn", cursive;
  font-size: 50px;
  color: #800020;
  text-align: center;
  margin: 30px 0;
}
