.App-header {
  font-family: "Calligraffitti", cursive;
  font-family: "Delicious Handrawn", cursive;
  text-align: center;
  font-size: 100px;
  color: #ff90bc;
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
